.nav{
    margin-left: 30px;
    margin-right: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.login  ul{
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: brown;
    font-weight: bolder;
}
.logo ul{
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: brown;
    font-weight: bolder;}
.logo{
   
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.login  ul li{
    list-style: none;
    margin-left: 30px;
}
.logo  ul li{
    list-style: none;
    margin-left: 30px;
}
.nav-button{
    padding: 10px;
    width: 100px;
    background-color: green;
    color: white;
}